name: Deploy Jekyll with GitHub Pages

on:
  workflow_dispatch: {}
  push:
    branches:
      - gh-pages

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout template
        uses: actions/checkout@v4
        with:
          repository: dsb-ifi/project-template
          ref: main
          path: template

      - name: Checkout content
        uses: actions/checkout@v4
        with:
          path: contents

      - name: Merge template and contents safely
        run: |
          rsync -av template/ ./ 
          rsync -av contents/ ./

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
